.head-icons {
    margin: 0 auto;
    max-width: 1280px;

    .left-icon {
        width: 30%;
        fill: black;
        img{
            background-repeat: no-repeat;
        }
    }
    
    .right {
        display: flex;
        width: 70%;
        justify-content: end;
        align-items: center;


        .icon2 {
            margin-right: 50px;
            text-transform: lowercase;
            font-weight: 600;
            position: relative;

        }

    .icon2::before{
        right: 120px;
        /* left: -18px; */
        transform: rotate(136deg);
        content: "";
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        border-color: inherit;
        display: inline-block;
        height: 6px;
        position: absolute;
        top: 6px;
        width: 6px;
        color:#0032a0;
    }

        .icon3{


            button{
                outline: none;
                font-size:15px;
                line-height: 1px;
                border-radius: 50px;
                box-sizing: border-box;
                color:#0032a0;
                height: 40px;
                justify-content: center;
                max-width: 100%;
                overflow: hidden;
                padding: 5px 20px;
                background-color: transparent;
                border-color:#0032a0 ;
              white-space: normal;
            
            }
        }
    }
}





@media only screen and (min-width: 768px) {
        .head-icons {
            display: flex;

        
 .head-icons .right {
    display: flex;
    width: 29%;
   
}
    }

}


