.primary-wrapper {
  background: url("../../images/background-blue.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1420px;

  .wrapper {
    position: relative;

    .wrapper-container {
      max-width: 1220px;
      margin: 0 auto;
      .hdl-1 {
        color: white;
        padding-top: 60px;
      }
    }

    .labels {
      display: flex;
      flex-direction: row;
      margin-top: 50px;

      .first-input {
        .search-btn {
          position: relative;
          align-items: center;
          left: 10%;
        }
        label {
          position: absolute;
          z-index: 9;
          font-size: 15px;
          left: 40px;
          top: 10px;
          color: #0032a0;
        }
        .search {
          position: absolute;
          fill: #0032a0;
          size: 0ch;
          top: 10%;
          z-index: 9;
          left: 11px;
        }
        .input {
          padding: 10px 60px 10px 100px;
          position: relative;
          margin-bottom: 50px;
        }
      }

      .second-input {
        .location-icon {
          position: relative;

          left: 0%;

          align-items: center;
          margin-left: 70px;
        }

        .label2 {
          position: absolute;
          z-index: 9;
          font-size: 15px;
          left: 40px;
          top: 10px;
          color: #0032a0;
        }
        .location-svg {
          position: absolute;
          fill: #0032a0;
          size: 0ch;
          top: 9%;
          z-index: 9;
          left: 11px;
        }
        .input-location {
          padding: 10px 60px 10px 100px;
          position: relative;
          margin-bottom: 50px;
        }
      }

      .blue-btn {
background-color: #0032a0;
    border-radius: 50px;
    height: 48px;
    border: 1px solid #0032a0;
    color: white;
    padding: 14px 76px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 100px;
  
      }
    }

    .input-location {
      padding: 10px 60px 10px 100px;
      position: relative;
      margin-bottom: 50px;
    }
  }
  .hdl-2 {
    color: white;
    justify-content: center;
    display: flex;
    font-weight: 300;
  }
  .title {
    font-family: auto;
  }
  .buttons {
    display: flex;
    margin-top: 50px;
    cursor: pointer;
    height: 100px;
    justify-content: center;
    .btn1 {
      border-radius: 50px;
      height: 45px;
      border: 1px solid;
      color: white;
      padding: 15px 34px;
      font-size: 14px;
      background-color: transparent;
      z-index: 9px;
      cursor: pointer;
    }
    .btn2 {
      margin-left: 20px;
      border-radius: 50px;
      height: 45px;
      border: 1px solid;
      color: white;
      padding: 12px 35px;
      font-size: 14px;
      background-color: transparent;
      z-index: 9px;
      cursor: pointer;
    }

    .btn3 {
      margin-left: 20px;
      border-radius: 50px;
      height: 45px;
      border: 1px solid;
      color: white;
      padding: 12px 35px;
      font-size: 14px;
      background-color: transparent;
      z-index: 9px;
      cursor: pointer;
    }
    .btn4 {
      margin-left: 20px;
      border-radius: 50px;
      height: 45px;
      border: 1px solid;
      color: white;
      padding: 15px 50px;
      font-size: 14px;
      background-color: transparent;
      z-index: 9px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 980px) {
  .primary-wrapper {
    .wrapper {
      position: relative;

      .wrapper-container {
        .hdl-1 {
          margin-left: 30px;
        }
      }

      .labels {
        .first-input {
          .input {
            padding: 21px 60px 5px 0px;
            position: relative;
            margin-bottom: 50px;
          }
        }

        p.slider-description {
          font-size: 15px;
        }

        .second-input {
          .location-icon {
            position: relative;

            left: 0%;

            align-items: center;
            margin-left: 70px;
          }

          .label2 {
          }
          .location-svg {
          }
          .input-location {
            padding: 21px 60px 5px 0px;
            position: relative;
            margin-bottom: 50px;
          }
        }

        .blue-btn {
          background-color: #0032a0;
          margin-left: 45px;
        }
      }
    }
    .hdl-2 {
      color: white;
      justify-content: center;
      display: flex;
      font-weight: 300;
    }
    .title {
      font-family: auto;
    }
    .buttons {
      max-width: 90%;
      margin-left: 10%;
      .btn1 {
        padding: 10px 35px;
      }
      .btn2 {
        padding: 10px 25px;
      }

      .btn3 {
        color: white;
        padding: 10px 35px;
      }
      .btn4 {
        border: 1px solid;
        color: white;
        padding: 10px 50px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .primary-wrapper {
    .wrapper {
      position: relative;

      .wrapper-container {
        .hdl-1 {
          margin-left: 30px;
        }
      }

      .labels {
        .first-input {
          .input {
            padding: 21px 60px 5px 0px;
            position: relative;
            margin-bottom: 50px;
          }
        }

        p.slider-description {
          font-size: 15px;
        }

        .second-input {
          .location-icon {
            position: relative;

            left: 0%;

            align-items: center;
            margin-left: 70px;
          }

          .label2 {
          }
          .location-svg {
          }
          .input-location {
            padding: 21px 60px 5px 0px;
            position: relative;
            margin-bottom: 50px;
          }
        }

        .blue-btn {
          background-color: #0032a0;
          border-radius: 50px;
          height: 50px;
          padding: 10px 30px;
          margin-left: 30px;
        }
      }
    }
    .hdl-2 {
      color: white;
      justify-content: center;
      display: flex;
      font-weight: 300;
    }
    .title {
      font-family: auto;
    }
    .buttons {
      max-width: 90%;
      margin-left: 10%;
      .btn1 {
        padding: 10px 35px;
      }
      .btn2 {
        padding: 10px 25px;
      }

      .btn3 {
        color: white;
        padding: 10px 35px;
      }
      .btn4 {
        border: 1px solid;
        color: white;
        padding: 10px 50px;
      }
    }
  }
}

@media screen and (max-width: 1094x) {

  .buttons {
    margin-left: 50px;

    .btn1 {
      padding: 15px 15px;
      font-size: 20px;
    }

    .btn2 {
      padding: 15px 15px;
    }
    .btn3 {
      padding: 15px 15px;
    }
    .btn4 {
      padding: 15px 15px;
    }
  }
}



@media screen and (max-width: 640px) {
  .wrapper {
    .wrapper-container {
      .hdl-1 {
        color: white;

        padding-top: 60px;
      }
    }

    .labels {
      display: flex;
      flex-direction: row;
      margin-top: 50px;

      .first-input {
        .search-btn {
          position: relative;
          align-items: center;
          left: 10%;
        }
        label {
          position: absolute;
          z-index: 9;
          font-size: 15px;
          left: 40px;
          top: 14px;
          color: #0032a0;
        }
        .search {
          position: absolute;
          fill: #0032a0;
          size: 0ch;
          top: 9%;
          z-index: 9;
          left: 11px;
        }
        .input {
          padding: 10px 60px 10px 100px;
          position: relative;
          margin-bottom: 50px;
        }
      }

      .second-input {
        .location-icon {
          position: relative;

          left: 0%;

          align-items: center;
          margin-left: 70px;
        }

        .label2 {
          position: absolute;
          z-index: 9;
          font-size: 15px;
          left: 40px;
          top: 14px;
          color: #0032a0;
        }
        .location-svg {
          position: absolute;
          fill: #0032a0;
          size: 0ch;
          top: 9%;
          z-index: 9;
          left: 11px;
        }
        .input-location {
          padding: 10px 60px 10px 100px;
          position: relative;
          margin-bottom: 50px;
        }
      }

      .blue-btn {
        background-color: #0032a0;
        border-radius: 50px;
        height: 55px;
        border: 1px solid #0032a0;
        color: white;
        padding: 8px 50px;
        font-size: 15px;
        cursor: pointer;
        /* margin-left: 150px; */
        margin-right: 20px;
      }
    }

    .input-location {
      padding: 10px 60px 10px 100px;
      position: relative;
      margin-bottom: 50px;
    }
  }
}
